<h3>Course Work</h3>
<p>
    During my time as an undergraduate, I completed all of the fundamental Computer Science courses, including Data Structures,
    Algorithms, Operating Systems, Databases, Networks, Parallel Programming, and Software Engineering. My favorites, however,
    were Compilers, Data Mining, and Web Application Security.
</p>

<p>
    Some of the notable projects from my time as an undergraduate include constructing a compiler for the Meggy Java language,
    building a roll-based access control Ruby on Rails blog, and creating a teaching assistant matching web application.
</p>

<p>
    During the Spring of 2016, I applied for and was accepted into the National Science Foundation's I-Corps Sites program through
    the Horn Program in Entrepreneurship at the University of Delaware. My project centered around an idea for a personal
    security device, existing through current wearable technologies.
</p>