<h3>Skills &amp; Interests</h3>
<p>
    Much of my personal, academic, and professional work so far has been in full stack web development, but I'm always looking
    to learn new things. I am proficient in all the standard web technologies, such as HTML, CSS/Stylus, and JavaScript,
    including the latest ES2015 features.
</p>

<p>
    I recently created an <a href="https://github.com/cbubel/js-crash-course" target="_blank">ES2015 crash course</a> using
    Jasmine unit testing to teach the newest concepts. While I prefer to write pure JavaScript, I am well accustomed to the
    numerous JavaScript libraries, especially Angular 1, and I have learned to pick them up quickly.
</p>

<p>
    I also have experience developing Node, Ruby on Rails, and ASP.NET web applications, using technologies like Firebase, MongoDB,
    and Redis, along with fundamental web principles regarding security, authentication, authorization, and caching.
</p>

<p>
    While much of my work has been web related, I am very much interested in higher level Computer Science concepts, such as
    Machine Learning and Data Mining.
</p>