body {
  font-family: 'Libre Baskerville', serif;
  padding: 40px 50px;
  margin: 0 auto;
  max-width: 700px;
}

hr {
  border: none;
  border-bottom: 1px solid #CCC;
}

header, section {
  /* text-align: center; */
}

section {
  margin-bottom: 22px;
}

section div {
  margin-bottom: 3px;
}

section div:last-child {
  margin-bottom: 0;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.meta {
  font-size: 14px;
}

.meta ul {
  margin: 0;
  /* padding: 0; */
}

.organization {
  font-style: italic;
}

.timespan {
  font-size: 12px;
}

p {
  line-height: 1.5em;
}

.project-image-container {
  text-align: center;
}

img {
  width: 75%;
  box-shadow: 0 0 10px 2px #999;
  border-radius: 3px;
}

#skills table tbody.sub-header {
  font-weight: bold;
  font-size: 1.17em;
}

#skills table tbody tr td {
  padding-right: 10px;
}

b {
  /* background-color: #00B356; */
  font-weight: normal;
  /* color: white;
  padding: 0px 5px 1px 5px;
  border-radius: 3px; */
  /* text-decoration: underline; */
  /* border-bottom: 4px dotted #00B356 */
}