// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: "Georgia";
$background-color: #302f1f;
$text-color: #f6edd5;
$link-base-color: #e24c2d !important;
// $site-title-color: $text-color;