body {
  background-color: #FFF;
  color: #333;
  margin-top: 5%;
}

/* Typography */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Libre Baskerville', serif;
}

a {
  color: #AD3717;
}

a:hover {
  color: #7D260F;
}

a.icon-link {
  color: #333;
}

.blurb {
  color: #666;
}

.pushed {
  border-left: 5px solid #9E9E9E;
  padding-left: 20px;
}

/* Separator */

.separator {
  border-top: 1px solid #CCC;
  margin: 40px 0;
}

/* Navigation */

ul.nav {
  list-style: none;
}

ul.nav li a {
  text-decoration: none;
}